
#tree-view .bidpicker {
    position: absolute; 
	display: inline-block;
	width : 226px;
	margin : 0;

    background-color: white;
	border: 1px solid #AAAAAA;
	border-radius: 6px;
	z-index: 1000;
}

#tree-view .bidpicker .special-bids {
    display : inline-block;
    width : 46px;
    float : right;
}

#tree-view .bidpicker .suit-bids {
    display : inline-block;
    width : 180px;
    float : left;
}

#tree-view .bidpicker .bid-button {
	display: inline-block;
	border: 1px solid #d8dcdf;
	margin : 1px;
	padding: 1px;
	color: #004276;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	background-color: #eeeeee;
}

#tree-view .bidpicker .suit-bids .bid-button {
	width : 30px;
	float : left;
}

#tree-view .bidpicker .special-bids .bid-button {
	width : 40px;
}

/*Styling conventions for the bidpicker element in the tree-view*/

#tree-view .bidpicker .bid-button.invalid-bid  {
	cursor: default;
	background-color: white;
	color: gray;
	opacity: 0.5;
}

#tree-view .bidpicker .bid-button.invalidates-succeeding-bids  {
    /*TODO: more sophisticated handling of this situation*/
	cursor: default;
	background-color: white;
	color: gray;
	opacity: 0.5;
}


#tree-view .bidpicker .bid-button.preselected-bid {
	background-color: #fbf8ee;
	border-color: #fcd3a1;
	color: #444444;
}

#tree-view .bidpicker .bid-button:hover:not(.invalid-bid){
	background-color: #f6f6f6;
	border: 1px solid #cdd5da;
	color: #111111;
}