/*Styling conventions for the context-menu used in the tree-view*/

#context-menu .shortcut {
    /*TODO: styling of shortcut instead of brackets*/
    float:right;
    position : relative;
}

#context-menu .disabled {
    /*TODO: styling of disabled menu items*/
    color : red;
}