.is-opponent-bid {
    background-color : yellow;
}

.description {
    min-width : 120px;
    display : inline-block;
}

.bid {
    width : 30px;
    display : inline-block;
}

span[contenteditable=true]:hover {
    cursor: text;
	border-width: 1px;
	border-style: solid;
	border-color: gray;
    background-color: #FFFFFF;
    min-height: 1em;
}