/*Styling conventions for bidconvention nodes in the tree view*/

#tree-view .bidconvention.opponent-bid {
    background-color : #F0F0F0;
}

#tree-view .bidconvention.invalid-bidsequence {
	border-style:solid;
	border-color: red;
	border-width: 1px;
}


#tree-view .bidconvention.selected {
    background-color : orange;
}

#tree-view .bidconvention.cut {
    color : grey;
}

#tree-view .bidconvention.successor-of-selected{
/*     background-color : blue; */
}

#tree-view .bidconvention .description {
    min-width : 120px;
    display : inline-block;
    font-style: italic;
}

#tree-view .bidconvention .description:focus {
    cursor: text;
	border-width: 1px;
	border-style: solid;
	border-color: gray;
    background-color: #FFFFFF;
    min-height: 1em;
}