#vakata-dragged {
	display: block;
	margin: 0 0 0 0;
	padding: 4px 4px 4px 24px;
	position: absolute;
	top: -2000px;
	line-height: 16px;
	z-index: 10000;
}

#vakata-contextmenu {
	display: block;
	visibility: hidden;
	left: 0;
	top: -200px;
	position: absolute;
	margin: 0;
	padding: 0;
	min-width: 180px;
	background: #ebebeb;
	border: 1px solid silver;
	z-index: 10000;
	*width: 180px;
}

#vakata-contextmenu ul {
	min-width: 180px;
	*width: 180px;
}

#vakata-contextmenu ul,#vakata-contextmenu li {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: block;
}

#vakata-contextmenu li {
	line-height: 20px;
	min-height: 20px;
	position: relative;
	padding: 0px;
}

#vakata-contextmenu li a {
	padding: 1px 6px;
	line-height: 17px;
	display: block;
	text-decoration: none;
	margin: 1px 1px 0 1px;
}

#vakata-contextmenu li ins {
	float: left;
	width: 16px;
	height: 16px;
	text-decoration: none;
	margin-right: 2px;
}

#vakata-contextmenu li a:hover,#vakata-contextmenu li.vakata-hover>a {
	background: gray;
	color: white;
}

#vakata-contextmenu li ul {
	display: none;
	position: absolute;
	top: -2px;
	left: 100%;
	background: #ebebeb;
	border: 1px solid gray;
}

#vakata-contextmenu .right {
	right: 100%;
	left: auto;
}

#vakata-contextmenu .bottom {
	bottom: -1px;
	top: auto;
}

#vakata-contextmenu li.vakata-separator {
	min-height: 0;
	height: 1px;
	line-height: 1px;
	font-size: 1px;
	overflow: hidden;
	margin: 0 2px;
	background: silver; /* border-top:1px solid #fefefe; */
	padding: 0;
}
